[run]
branch = True
omit = */virtualenvs/*
       */migrations/*
       */settings/*
       */tests/*
       */tests.py
       manage.py
       github_monitor/celery.py
       github_monitor/wsgi.py
       github_monitor/urls.py
