
body {
    background-color: $base-background-color;
    font-family: 'Montserrat', sans-serif;
    color: $base-color;
    overflow-y:scroll;
}

.btn.btn-link, a, .page-link {
    color: $link-color;
}

.btn.btn-link:hover, .page-link:hover, a:hover, a:focus, a:active {
    color: $link-hover-color;
    text-decoration: none;
}

.pagination, small {
    font-family: 'Open Sans', sans-serif;
}
