
body {
    background-color: $base-background-color;
    font-family: 'Montserrat', sans-serif;
    color: $base-color;
    overflow-y:scroll;
}

.col-centered {
    float: none;
    margin: 0 auto;
}
