nav {
    border-bottom: 2px solid rgb(242, 242, 242);
    display:table-cell;
    font-size: .9em;
    .fa-2x {
        vertical-align: middle;
    }
    .logout-link,
    .logout-link:visited {
        color: #333;
    }
    .logout-link:hover,
    .logout-link:active,
    .logout-link:focus {
        color: #666;
        text-decoration: none;
    }
}

nav.navbar.navbar-light {
    .navbar-brand {
        color: #333;
        font-weight: 600;
        font-size: 1.2em;
    }
}
