.rounded {
    border-radius: 6px;
}

.box-shadow {
    border-top: 1px solid rgb(247, 247, 247);
    border-right: 2px solid rgb(242, 242, 242);
    border-bottom: 2px solid rgb(242, 242, 242);
    border-left: 1px solid rgb(247, 247, 247);
}
